@import "@mdi/font/css/materialdesignicons.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.surface-base {
    @apply dark:bg-surface-900 bg-surface-300;
}

.surface-layout {
    @apply dark:bg-surface-700 bg-surface-0;
}

.surface-card {
    @apply dark:bg-surface-700 bg-surface-50;
}

.card {
    @apply dark:bg-surface-700 bg-surface-50 rounded-lg p-4;
}

/* Classes para alinhas colunas da Data Tabel do primevue */
td.column-center {
    text-align: center !important;
}

.column-center > div.p-datatable-column-header-content {
    justify-content: center !important;
}

td.column-right {
    text-align: right !important;
}

.column-right > div.p-datatable-column-header-content {
    justify-content: right !important;
}
